body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container {
    max-width: 640px;
    text-align: center;
}

.botoes {
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

/* Adicionado max-height para vídeos/imagens muito grandes */
video,
img {
    max-width: 100%;
    max-height: 400px;
    border: 1px solid #ccc;
    background-color: #000;
    margin-top: 10px;
}

#originalImageContainer,
#processedImageContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#originalImage,
#processedImage {
    max-width: 100%;
    max-height: 300px;
    /* Altura máxima para as imagens exibidas */
    border: 1px solid #ddd;
    margin-top: 10px;
    display: none;
    /* Escondido por padrão */
}